@charset "UTF-8";

/* Estilo para impressora*/

*{
    margin: 0px;
    padding: 0px;
}

html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    line-height: 1.5em;
}

menu{
    display: none;
}
header h1{
    margin: 10px;
}
header h2{
    display: none;
}

article h2{
    margin: 10px;
}

article{
    width: 100%;
}
article::after{
    content: 'Esse artigo foi impresso através do site www.cursoemvideo.com';
}