
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

header,footer{
    background-color: #35592B;
    ;
}

footer>h1{
    font-family: 'Abril Fatface';
    color: white;
    font-weight: 400;
    padding: 10px 10px 0px 10px;
    text-align: center;
}
.subtitulo{
    line-height: 1.2em;
    margin: 16px 0px 24px 0px;
}
header>h1{
    font-family: 'Abril Fatface';
    color: white;
    font-weight: 400;
    padding: 10px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.502);
}
footer{
    margin: 0px;
    padding: 0px 0px 10px 0px;
    box-shadow: 0px -1px 6px rgba(0, 0, 0, 0.502);
}
h1{
    text-align: left;
    font-family: 'PT Serif', serif;
    font-weight: 700;
}
#creditos{
    background-color: #35592B;
    border-radius: 4px;
    color: white;
    padding: 5px 0px 5px 10px;
    margin: 16px 0px 28px 0px;;
}
img{
    border-radius: 4px;
}

i{
    text-align: right;
    margin: 0px 10px 0px 0px;
    color: white;
}
#icons{
    display: inline-block;
}
span{
    float: right;
}
#creditos>a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.espacamento-imagens{
    margin: 0px 0px 40px 0px;
}
p{
    line-height: 1.8em;
    text-align: justify;
    font-size: 1.2em;
    font-family: 'PT Serif', serif;
}
.espacamento-paragrafo{
    margin: 40px 0px;
}
.identacao{
    text-indent: 6%;
}
a{
    text-decoration: none;
}
div{
    text-align: center;
    margin: auto;
}
a:hover{
    color: black;
}
footer>p{
    text-align: center;
    margin: 0px;
    
    font-weight: bolder;
}